In [60]:
import pandas as pd

In [61]:
#Location of datasets:
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [62]:
#Assign columns name to the dataset
names = ['sepal-length','sepal=weight','petal-length','petal-weight','Class']

In [63]:
irisdata = pd.read_csv(url,names=names)

In [64]:
irisdata.head()

   sepal-length  sepal=weight  petal-length  petal-weight        Class
0           5.1           3.5           1.4           0.2  Iris-setosa
1           4.9           3.0           1.4           0.2  Iris-setosa
2           4.7           3.2           1.3           0.2  Iris-setosa
3           4.6           3.1           1.5           0.2  Iris-setosa
4           5.0           3.6           1.4           0.2  Iris-setosa

In [65]:
#Preprocessiinf
#Assign data from first four columns to X variable
X = irisdata.iloc[:,0:4] #เอาทุกแถว หลักที่ 0,1,2,3

In [66]:
X

     sepal-length  sepal=weight  petal-length  petal-weight
0             5.1           3.5           1.4           0.2
1             4.9           3.0           1.4           0.2
2             4.7           3.2           1.3           0.2
3             4.6           3.1           1.5           0.2
4             5.0           3.6           1.4           0.2
..            ...           ...           ...           ...
145           6.7           3.0           5.2           2.3
146           6.3           2.5           5.0           1.9
147           6.5           3.0           5.2           2.0
148           6.2           3.4           5.4           2.3
149           5.9           3.0           5.1           1.8

[150 rows x 4 columns]

In [67]:
#Assign data  from first fifth columns to y variable
y = irisdata.select_dtypes(include = [object]) #เลือก หลักที่ไม่ใช่ตัวเลข

In [68]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [69]:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [70]:
#Preprocessing เตรียมการข้อมูล
from sklearn import preprocessing
label = preprocessing.LabelEncoder()

In [71]:
#Let's convert catagory to number
y = y.apply(label.fit_transform)

In [72]:
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [73]:
#Preprocessing to split a raw data into train and test data
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train , y_test = train_test_split(X,y,test_size = 0.2)

In [75]:
print('X_train.shape',X_train.shape)
print('X_test,shape',X_test.shape)

X_train.shape (120, 4)
X_test,shape (30, 4)

In [76]:
#Preprocessing for Feature Scaling
from sklearn.preprocessing import StandardScaler

In [77]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [78]:
print("scaler.fit(X_train)",scaler.fit(X_train))

scaler.fit(X_train) StandardScaler(copy=True, with_mean=True, with_std=True)

In [79]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test) #ลดscale มาลงมา

In [80]:
print('X_train',X_train)
print('X_test',X_test)

X_train [[-0.05618014 -0.81726092  0.7506965   0.89471344]
 [ 0.98993278 -0.11339984  0.695055    0.63816478]
 [ 0.06005463  0.35584088  0.58377201  0.76643911]
 [-0.52111921  1.52894268 -1.2523973  -1.28595014]
 [ 0.64122847  0.12122052  0.97326247  0.76643911]
 [ 0.40875893 -0.3480202   0.30556454  0.12506747]
 [ 0.06005463 -0.11339984  0.24992305  0.38161613]
 [ 0.40875893  0.8250816   0.91762098  1.40781075]
 [ 1.68734138 -0.3480202   1.41839443  0.76643911]
 [-1.68346689 -0.11339984 -1.36368029 -1.28595014]
 [ 0.40875893 -0.58264056  0.58377201  0.76643911]
 [ 0.98993278 -1.28650164  1.14018696  0.76643911]
 [-0.86982351  0.59046124 -1.14111431 -0.90112716]
 [ 0.64122847 -0.58264056  1.02890397  1.1512621 ]
 [-0.40488444  2.70204448 -1.3080388  -1.28595014]
 [-1.56723212 -1.75574236 -1.36368029 -1.15767581]
 [-0.17241491 -1.28650164  0.695055    1.02298777]
 [ 2.15228046  1.76356304  1.64096041  1.27953643]
 [ 1.10616754  0.35584088  1.19582845  1.40781075]
 [-1.21852782 -0.11339984 -1.3080388  -1.41422447]
 [ 0.98993278 -0.11339984  0.80633799  1.40781075]
 [ 0.98993278  0.59046124  1.08454546  1.66435941]
 [ 0.1762894   0.8250816   0.41684753  0.50989046]
 [-0.52111921  1.9981834  -1.14111431 -1.02940149]
 [-0.75358875  1.05970196 -1.2523973  -1.28595014]
 [-0.17241491 -1.05188128 -0.13956742 -0.25975551]
 [-1.45099736  0.35584088 -1.3080388  -1.28595014]
 [ 1.22240231  0.12122052  0.7506965   1.40781075]
 [ 1.45487185 -0.11339984  1.19582845  1.1512621 ]
 [ 1.22240231  0.35584088  1.08454546  1.40781075]
 [ 0.5249937   0.59046124  1.25146994  1.66435941]
 [-0.05618014 -0.81726092  0.08299856 -0.00320686]
 [ 0.1762894  -0.3480202   0.41684753  0.38161613]
 [-0.17241491  1.76356304 -1.14111431 -1.15767581]
 [-1.45099736  1.29432232 -1.53060477 -1.28595014]
 [ 0.64122847 -0.3480202   0.30556454  0.12506747]
 [-0.40488444 -1.75574236  0.13864006  0.12506747]
 [-1.10229305 -0.11339984 -1.3080388  -1.28595014]
 [-0.28864967 -0.58264056  0.63941351  1.02298777]
 [-0.17241491 -0.58264056  0.41684753  0.12506747]
 [ 1.57110662  0.35584088  1.25146994  0.76643911]
 [ 1.10616754 -0.58264056  0.58377201  0.2533418 ]
 [ 2.15228046 -0.11339984  1.30711144  1.40781075]
 [-0.40488444 -1.521122    0.02735707 -0.13148119]
 [-0.52111921  1.9981834  -1.36368029 -1.02940149]
 [ 2.38474999  1.76356304  1.47403592  1.02298777]
 [ 0.75746324 -0.58264056  0.47248902  0.38161613]
 [ 0.5249937   0.8250816   1.02890397  1.53608508]
 [-1.33476259  0.35584088 -1.19675581 -1.28595014]
 [-0.98605828 -1.75574236 -0.2508504  -0.25975551]
 [ 0.29252417 -1.05188128  1.02890397  0.2533418 ]
 [ 0.29252417 -0.58264056  0.13864006  0.12506747]
 [ 0.5249937  -0.81726092  0.63941351  0.76643911]
 [-0.86982351  1.05970196 -1.3080388  -1.28595014]
 [ 0.1762894  -1.99036272  0.13864006 -0.25975551]
 [ 0.64122847 -0.58264056  1.02890397  1.27953643]
 [-0.75358875 -0.81726092  0.08299856  0.2533418 ]
 [ 0.29252417 -0.3480202   0.52813052  0.2533418 ]
 [ 0.5249937  -0.58264056  0.7506965   0.38161613]
 [-0.98605828  1.05970196 -1.19675581 -0.77285283]
 [ 0.29252417 -0.11339984  0.47248902  0.2533418 ]
 [-0.86982351  1.76356304 -1.2523973  -1.15767581]
 [-0.05618014 -1.05188128  0.13864006 -0.00320686]
 [ 0.5249937  -1.28650164  0.63941351  0.38161613]
 [-0.63735398  1.52894268 -1.2523973  -1.28595014]
 [ 0.98993278  0.12122052  0.36120603  0.2533418 ]
 [-1.79970166 -0.11339984 -1.47496328 -1.41422447]
 [ 0.98993278  0.12122052  1.02890397  1.53608508]
 [ 1.80357615 -0.58264056  1.30711144  0.89471344]
 [ 0.5249937   0.59046124  0.52813052  0.50989046]
 [-1.10229305 -1.521122   -0.2508504  -0.25975551]
 [ 1.57110662  1.29432232  1.30711144  1.66435941]
 [-1.21852782  0.8250816  -1.02983133 -1.28595014]
 [-0.98605828 -2.45960344 -0.13956742 -0.25975551]
 [-0.52111921  0.8250816  -1.14111431 -1.28595014]
 [ 0.40875893 -1.99036272  0.41684753  0.38161613]
 [ 2.15228046 -0.58264056  1.64096041  1.02298777]
 [-0.28864967 -0.3480202  -0.08392592  0.12506747]
 [ 0.5249937  -1.28650164  0.695055    0.89471344]
 [-0.98605828  0.8250816  -1.19675581 -1.02940149]
 [-0.05618014 -0.58264056  0.7506965   1.53608508]
 [-0.40488444  1.05970196 -1.36368029 -1.28595014]
 [-1.10229305  0.12122052 -1.2523973  -1.41422447]
 [ 0.87369801 -0.11339984  0.36120603  0.2533418 ]
 [-0.98605828  1.29432232 -1.3080388  -1.28595014]
 [-0.05618014 -0.81726092  0.19428155 -0.25975551]
 [-0.52111921 -0.11339984  0.41684753  0.38161613]
 [-1.21852782  0.8250816  -1.19675581 -1.28595014]
 [ 0.98993278  0.59046124  1.08454546  1.1512621 ]
 [-0.98605828  0.59046124 -1.3080388  -1.28595014]
 [ 0.87369801 -0.3480202   0.47248902  0.12506747]
 [ 0.5249937  -1.75574236  0.36120603  0.12506747]
 [-1.10229305  0.12122052 -1.2523973  -1.41422447]
 [-0.98605828  1.05970196 -1.36368029 -1.15767581]
 [ 0.64122847 -0.81726092  0.86197948  0.89471344]
 [ 0.1762894  -0.81726092  0.7506965   0.50989046]
 [-1.45099736  0.8250816  -1.3080388  -1.15767581]
 [-1.21852782 -0.11339984 -1.3080388  -1.15767581]
 [-0.28864967 -0.11339984  0.19428155  0.12506747]
 [ 1.10616754 -0.11339984  0.97326247  1.1512621 ]
 [-0.40488444 -1.521122   -0.02828443 -0.25975551]
 [-0.86982351  0.8250816  -1.2523973  -1.28595014]
 [-0.86982351  1.05970196 -1.3080388  -1.15767581]
 [ 0.64122847  0.35584088  0.41684753  0.38161613]
 [-1.33476259  0.35584088 -1.36368029 -1.28595014]
 [ 2.03604569 -0.11339984  1.58531891  1.1512621 ]
 [ 1.22240231  0.12122052  0.91762098  1.1512621 ]
 [-1.45099736  0.12122052 -1.2523973  -1.28595014]
 [ 1.22240231  0.12122052  0.63941351  0.38161613]
 [ 2.15228046 -1.05188128  1.75224339  1.40781075]
 [-0.75358875  0.8250816  -1.3080388  -1.28595014]
 [-1.68346689  0.35584088 -1.36368029 -1.28595014]
 [-0.75358875  2.46742412 -1.2523973  -1.41422447]
 [-0.28864967 -0.11339984  0.41684753  0.38161613]
 [-0.28864967 -0.81726092  0.24992305  0.12506747]
 [-0.05618014 -0.81726092  0.7506965   0.89471344]
 [-0.98605828 -0.11339984 -1.19675581 -1.28595014]
 [-0.98605828  0.35584088 -1.41932179 -1.28595014]
 [-1.10229305 -1.28650164  0.41684753  0.63816478]
 [-0.86982351  1.52894268 -1.2523973  -1.02940149]]
X_test [[-0.40488444 -1.28650164  0.13864006  0.12506747]
 [-0.40488444 -1.05188128  0.36120603 -0.00320686]
 [-0.86982351  1.76356304 -1.19675581 -1.28595014]
 [-0.52111921  0.8250816  -1.2523973  -1.02940149]
 [ 0.98993278  0.12122052  0.52813052  0.38161613]
 [ 0.64122847  0.35584088  0.86197948  1.40781075]
 [-1.68346689 -0.3480202  -1.3080388  -1.28595014]
 [ 1.57110662 -0.11339984  1.14018696  0.50989046]
 [-0.17241491 -0.11339984  0.24992305 -0.00320686]
 [ 0.06005463 -0.11339984  0.7506965   0.76643911]
 [-0.17241491 -0.58264056  0.19428155  0.12506747]
 [-0.05618014  2.23280376 -1.41932179 -1.28595014]
 [ 0.75746324 -0.11339984  1.14018696  1.27953643]
 [ 0.1762894  -1.99036272  0.695055    0.38161613]
 [ 0.75746324 -0.11339984  0.97326247  0.76643911]
 [ 1.33863708  0.35584088  0.52813052  0.2533418 ]
 [-0.17241491 -0.3480202   0.24992305  0.12506747]
 [-0.17241491  3.1712852  -1.2523973  -1.02940149]
 [-0.28864967 -1.28650164  0.08299856 -0.13148119]
 [ 0.29252417 -0.11339984  0.63941351  0.76643911]
 [ 0.75746324  0.35584088  0.7506965   1.02298777]
 [-0.86982351  1.76356304 -1.02983133 -1.02940149]
 [-0.86982351 -1.28650164 -0.41777489 -0.13148119]
 [ 0.29252417 -0.58264056  0.52813052 -0.00320686]
 [ 0.75746324 -0.11339984  0.80633799  1.02298777]
 [-1.21852782  0.12122052 -1.19675581 -1.28595014]
 [ 0.1762894  -0.11339984  0.58377201  0.76643911]
 [ 0.5249937  -0.3480202   1.02890397  0.76643911]
 [-0.98605828  0.8250816  -1.2523973  -1.28595014]
 [-1.10229305  0.12122052 -1.2523973  -1.41422447]]

In [81]:
#Model Training Processing 
#Create three layers of 10 nodes each
#Set Maximum Iteration equal to 1000

In [82]:
from sklearn.neural_network import MLPClassifier

In [83]:
mlp = MLPClassifier(hidden_layer_sizes=(10,10,10), max_iter=1000) 
#มี 3 hidden layer แต่ล่ะhidden มี 10 node
#Default Activation function is relu you can change activation 
mlp.fit(X_train,y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(10, 10, 10), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [84]:
#Predicted Test
predicted_y = mlp.predict(X_test)

In [89]:
print("Predicted of X test:",predicted_y)
print("y_test",y_test)

Predicted of X test: [1 1 0 0 1 2 0 2 1 2 1 0 2 1 2 1 1 0 1 2 2 0 1 1 2 0 2 2 0 0]
y_test      Class
89       1
90       1
46       0
31       0
86       1
115      2
8        0
129      2
95       1
149      2
99       1
14       0
104      2
119      2
116      2
50       1
96       1
15       0
69       1
127      2
110      2
44       0
98       1
73       1
147      2
30       0
138      2
103      2
7        0
37       0

In [86]:
#Evaluting the model 
from sklearn.metrics import classification_report, confusion_matrix

In [87]:
print("Confusion Matrix: \n",confusion_matrix(y_test,predicted_y))

Confusion Matrix:
 [[ 9  0  0]
 [ 0 10  0]
 [ 0  1 10]]

In [88]:
#Evalutiong Preformance 
print('Model Score Index: \n',classification_report(y_test,predicted_y))

Model Score Index:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       0.91      1.00      0.95        10
           2       1.00      0.91      0.95        11

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30